<div style="border: 1px solid black; padding: 20px 50px; margin: 20px">
  {{#each albums}}
    <img src={{this.images.2.url}} alt="img" />
    <p><b>{{this.name}}</b> </p>
    <a href="/tracks/{{this.id}}">View tracks</a>
    <hr />
  {{/each}}
</div>